
StriBot/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

.vs/StriBot/v16/.suo

.vs/StriBot/v16/Server/sqlite3/storage.ide-shm

.vs/StriBot/v16/Server/sqlite3/storage.ide-wal

StriBot/bin/Debug/Отчеты/Заказы.txt

StriBot/bin/Debug/Отчеты/Интерактив.txt

StriBot/bin/Debug/Отчеты/Информационные.txt

StriBot/bin/Debug/Отчеты/Модераторам.txt

StriBot/bin/Debug/Отчеты/Стримеры.txt

StriBot/bin/Debug/StriBot.exe

StriBot/bin/Debug/TwitchInfo.txt

StriBot/obj/Debug/DesignTimeResolveAssemblyReferences.cache

StriBot/obj/Debug/StriBot.csproj.GenerateResource.cache

StriBot/obj/Debug/StriBot.csprojAssemblyReference.cache

StriBot/obj/Debug/StriBot.exe

StriBot/obj/Debug/StriBot.pdb
